html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /*----------Theme Color Var----------*/
  --text-black: #000000;
  --text-yellow: #ffdd00;
  /*----------Theme Gradient Var----------*/

  --yellow-gradient: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

/*----------GLOBAL CLASSES----------*/
a {
  text-decoration: none;
  color: var(--text-black);
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}

h1 {
  font-family: Pacifico;
  font-size: 2.5rem;
}

h3 {
  font-family: Abel;
  font-size: 1.3rem;
}

button {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial;
  cursor: pointer;
}
/*----------GLOBAL CLASSES----------*/

/*----------NAVBAR----------*/
.nav {
  background-color: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: Pacifico;
}

.nav .nav-menu {
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4;
  color: black;
}

/* .collapse {
  height: 30rem;
} */

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem;
  font-size: 1.1rem;
  position: relative;
  font-family: Abel;
}
.nav .nav-items .nav-link:hover {
  background-color: var(--text-yellow);
}
.nav .nav-items .nav-link:hover a {
  color: white;
}
.nav .social {
  padding: 1.4rem 0;
}
.nav .social i {
  padding: 0.2rem;
}

.nav .social i:hover {
  color: var(--text-yellow);
}
/*----------NAVBAR----------*/

/*----------MAIN CONTENT----------*/

main .site-title {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/bg-img.jpg");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 10rem;
  text-align: center;
  color: white;
}

main .site-title h1,
h3 {
  margin: 0.3rem;
}

main .site-title button {
  margin: 1.8rem;
  background: var(--yellow-gradient);
}

main .site-title button:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.container {
  font-family: Abel;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  padding: 100px;
  background: white;
}

.blog-post {
  display: flex;

  justify-content: center;
  align-items: center;

  /* border: 1px red dashed; */
}

.blog-content {
  width: 310px;
  height: 400px;

  /* background: #e3e0f3; */
  /* border: 1px red dashed; */

  margin: 5px 15px;
  padding: 20px 15px;

  transition: 0.5s ease-in-out;

  /* border-radius: 10px; */
}

.blog-img {
  margin-bottom: 20px;
}

.blog-img img {
  width: 100%;
  max-height: 175px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 1.2);
  border-radius: 10px;
  transition: 0.25s transform;
}

.blog-img img:hover {
  transform: scale(1.2);
}

.btn {
  display: flex;
  justify-content: center;
}
.btn-blog {
  background: var(--yellow-gradient);
}

.btn-blog:hover {
  background: transparent;
  border: 1px solid black;
  color: black;
}

/*----------MAIN CONTENT----------*/

/*----------FOOTER----------*/
footer {
  background: black;

  /* border: green 10px dashed; */
  height: 100px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.form {
  margin: 0 125px;
}

.text {
  font-size: 20px;
  color: white;
}

.text u {
  font-size: 25px;
  color: var(--text-yellow);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: var(--text-yellow);
  border: none;
  font-size: 15px;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/*----------FOOTER----------*/
